body{
    width: 100%;
 }


.nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    background-color: cornsilk;
    
}
.nav__logo{
    display: flex;
    justify-content: flex-start;
}
.nav__ul{
    display: flex;
    list-style-type: none;
    margin-left: 2px;

}

.nav__ul__li{
    list-style-type: none;
    margin-left: 20px;   
}